<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Banka_SQLConnection" connectionString="Data Source=.;Initial Catalog=JXBankDatabase;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
